@import "./variables";
@import "./transition";
@import "./element-plus";
@import "./sidebar";
@import "./dark";

/* 自定义全局 CssVar */
:root {
  /* 左侧菜单展开、收起动画时长 */
  --pure-transition-duration: 0.3s;

  /* 滚动条 */
  --scrollbar-bg-color: #ccc;
  --scrollbar-thumb-bg-color: #c0c1c2;
  --scrollbar-corner-color: #ccc;
}

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}
